/* Footer  Styles
     ========================================================================== */

/**
   *
   */

footer {
  &,
  & ul {
    display: flex;
  }
  background-color: $color-primary;
  color: #fff;
}
